@page
@model RemoteHub.Pages.Resume.EditModel

@{
    ViewData["Title"] = "Edit Resume";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="viewModel.ResumeId" />
            <div class="form-group">
                <label asp-for="viewModel.FirstName"></label>
                <input asp-for="viewModel.FirstName" class="form-control" />
                <span asp-validation-for="viewModel.FirstName" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="viewModel.LastName"></label>
                <input asp-for="viewModel.LastName" class="form-control" />
                <span asp-validation-for="viewModel.LastName" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="viewModel.ProfileImage" class="control-label"></label><br />
                <input asp-for="viewModel.ProfileImage" class="btn btn-secondary custom-file-input" id="customFile"><br />
                <span asp-validation-for="viewModel.ProfileImage" class="text-danger"></span>
            </div><br />
            <div class="form-group col-md-4">
                <label asp-for="viewModel.BirthDate"></label>
                <input asp-for="viewModel.BirthDate" class="form-control" />
                <span asp-validation-for="viewModel.BirthDate" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="viewModel.Nationality"></label> <br />
                <select asp-for="viewModel.Nationality" asp-items="Model.Items"
                        class="btn btn-secondary dropdown-toggle"></select><br />
                <span asp-validation-for="viewModel.Nationality" class="text-danger"></span>
            </div><br />

            <b>Select Your Gender</b> <br />
            @foreach (var gender in Model.Genders)
            {
                <input type="radio" asp-for="viewModel.Gender" value="@gender" />

                @gender <br />
            }
            <span asp-validation-for="viewModel.Gender" class="text-danger"></span><br /><br />
            <div class="form-group">
                <b>Select Your skills</b> <br />

                @for (int i = 0; i < Model.AllSkills.Count; i++)
                {
                    <input asp-for="viewModel.Skills[i]" />
                    <label asp-for="@Model.AllSkills[i]" style="margin-right: 20px;">@Model.AllSkills[i].SkillName</label>
                    <span asp-validation-for="viewModel.Skills[i]" class="text-danger"></span>
                }

            </div><br />
            <div class="form-group">
                <label asp-for="viewModel.Email"></label>
                <input asp-for="viewModel.Email" class="form-control" />
                <span asp-validation-for="viewModel.Email" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="viewModel.PhoneNumber"></label>
                <input asp-for="viewModel.PhoneNumber" class="form-control" />
                <span asp-validation-for="viewModel.PhoneNumber" placeholder="+961 12345678" class="text-danger"></span>
            </div><br />
            
            <div>
                <button type="submit" class="btn btn-secondary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link-secondary" asp-page="ViewAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
