@page
@model RemoteHub.Pages.Resume.NewModel
@{
    ViewData["Title"] = "Add Your Resume";
}
<h1>Fill Your information</h1>
<hr />
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="viewModel.FirstName"></label>
        <input asp-for="viewModel.FirstName" class="form-control" />
        <span asp-validation-for="viewModel.FirstName" class="text-danger"></span>
    </div><br />
    <div class="form-group">
        <label asp-for="viewModel.LastName"></label>
        <input asp-for="viewModel.LastName" class="form-control" />
        <span asp-validation-for="viewModel.LastName" class="text-danger"></span>
    </div><br />
    <div class="form-group">
        <label asp-for="viewModel.ProfileImage" class="control-label"></label><br />
        <input asp-for="viewModel.ProfileImage" class="btn btn-secondary custom-file-input" id="customFile"><br />
        <span asp-validation-for="viewModel.ProfileImage" class="text-danger"></span>
    </div><br />
        <div class="form-group">
            <label asp-for="viewModel.Birthday"></label>
            <input asp-for="viewModel.Birthday" class="form-control" />
            <span asp-validation-for="viewModel.Birthday" class="text-danger"></span>
        </div><br />
        <div class="form-group">
            <label asp-for="viewModel.Nationality"></label> <br />
            <select asp-for="viewModel.Nationality" asp-items="Model.Items"
                class="btn btn-secondary dropdown-toggle"></select><br />
            <span asp-validation-for="viewModel.Nationality" class="text-danger"></span>
        </div><br />

        <b>Select Your Gender</b> <br />
        @foreach (var gender in Model.Genders)
        {
            <input type="radio" asp-for="viewModel.Gender" value="@gender" />

            @gender <br />
        }
        <span asp-validation-for="viewModel.Gender" class="text-danger"></span><br /><br />
        <div class="form-group">
            <b>Select Your skills</b> <br />

            @for (int i = 0; i < Model.Skills.Count; i++)
            {
                <input asp-for="viewModel.Skills[i]" />
                <label asp-for="@Model.Skills[i]" style="margin-right: 20px;">@Model.Skills[i].SkillName</label>
                <span asp-validation-for="viewModel.Skills[i]" class="text-danger"></span>
            }

        </div><br />
        <div class="form-group">
            <label asp-for="viewModel.Email"></label>
            <input asp-for="viewModel.Email" class="form-control" />
            <span asp-validation-for="viewModel.Email" class="text-danger"></span>
        </div><br />
        <div class="form-group">
            <label asp-for="viewModel.EmailConfirmation"></label>
            <input asp-for="viewModel.EmailConfirmation" class="form-control" />
            <span asp-validation-for="viewModel.EmailConfirmation" class="text-danger"></span>
        </div><br />
        <div class="form-group">
            <label asp-for="viewModel.PhoneNumber"></label>
            <input asp-for="viewModel.PhoneNumber" class="form-control" />
            <span asp-validation-for="viewModel.PhoneNumber" placeholder="+961 12345678" class="text-danger"></span>
        </div><br />
        <div class="form-group">
            <b>Input two numbers and their sum (first Number :[1,20] and second Number:[20,50])</b> <br />

            <input asp-for="viewModel.Number1" /> +
            <input asp-for="viewModel.Number2" /> =
            <input asp-for="viewModel.Number3" /><br />
            <span asp-validation-for="viewModel.Number3" class="text-danger"></span><br />
            <span asp-validation-for="viewModel.Number1" class="text-danger"></span><br />
            <span asp-validation-for="viewModel.Number2" class="text-danger"></span>
        </div><br />
        <div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
</form>

<div>
    <a class="link-secondary" asp-page="ViewAll">Back to List</a>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}