@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (TempData["DeleteAlertMessage"]!=null)
{
    <div class="alert alert-danger">
        @TempData["DeleteAlertMessage"]
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome To ResumeHub</h1>
    <h6>where you can access and share resumes with other viewers.</h6>

    <a class="btn btn-primary" asp-area="" asp-page="/resume/viewall">Browse Resumes</a>
    <a class="btn btn-primary" asp-area="" asp-page="/resume/new">Add New Resume</a>
</div>
